{{#each charities as |charity| }}

<div class="text-center">
  <h2>{{charity.charity_name}}</h2>
  <h3>{{focus}}</h3>
  <h4>{{{description}}}</h4>
  <p>{{hq_location}}</p>
  <p>{{phone}}</p>
  <p>{{email}}</p>
  <p>{{website}}</p>
  <p>{{donation}}</p>
</div>
{{/each}}